################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Source/RunGo.Repository/.vs/RunGo.Repository/v15
/Source/RunGo.Repository/packages/Dapper.1.50.5
/Source/RunGo.NuGetServer/.vs/RunGo.NuGetServer/v15
/Source/RunGo.Repository/RunGo.Repository/bin/Debug
/Source/RunGo.Repository/RunGo.Repository/obj/Debug
/Source/RunGo.Repository/RunGo.Repository/Properties
/Source/RunGo.NuGetServer/.vs
/Source/RunGo.NuGetServer/packages
/Source/RunGo.NuGetServer/RunGo.NuGetServer/bin
/Source/RunGo.NuGetServer/RunGo.NuGetServer/obj
/Source/RunGo.NuGetServer/RunGo.NuGetServer/Properties
/Source/RunGo.Repository/RunGo.Repository/bin/Release
/Source/RunGo.Repository/RunGo.Repository/obj/Release
/Source/RunGo.Repository/.vs/RunGo.Repository/v14
/Source/RunGo.Server/.vs/RunGo.Server/v14
/Source/RunGo.Server/packages
/Source/RunGo.Server/RunGo.Server/bin
/Source/RunGo.Server/RunGo.Server/obj/Debug
*.nupkg
/Source/RunGo.Repository/RunGo.Repository/RunGo.Repository.nuspec
/Source/RunGo.Repository/RunGo.Repository/nuget.exe
/Source/RunGo.Server/RunGo.Repository/bin/Debug
/Source/RunGo.Server/RunGo.Repository/obj/Debug
/Source/RunGo.Server/RunGo.WebApi/bin
/Source/RunGo.Server/RunGo.WebApi/obj/Debug
/Source/RunGo.Server/RunGo.WebApi.Tests/obj/Debug
/Source/RunGo.Server/RunGo.WebApi/App_Data/Logs/20190214.PxP
